.dashboard{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #191919;
    color: white;
}
.dashboard-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 100%;
}

.stats{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;


}
.stats-container{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    gap: 25px;
}

.stats-head{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 6px;

}
.stats-title{
    font-size: 2.3rem;
    font-weight: 500;
}
.stats-para{
    color: #b7b7bd
}

.stats-card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.stats-card-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    align-items: center;
}

.stats-card-1{
    display: flex;
    justify-content: left;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: #151515;
    box-shadow: 0 0.7rem 0.8rem rgba(0,0,0,.2);
    border: 1px solid hsla(0,0%,100%,.0784313725490196);
}
.stats-card-1-container{
   display: flex;
   flex-direction: column;
   justify-content: center;

}
.stats-card1-title{
    font-size: 1.2rem;
    height: 50px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.stats-menu{
    display: flex;
    justify-content: space-between;
    height: 100%;
    flex-direction: column;
    border-top: 1px solid rgb(118, 118, 118);
}   
.stats-menu-item{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}